Makefile
autom4te.cache/
config.log
config.status
doc/Makefile
include/Makefile
include/autoconf.h
include/stamp-h1
libtool
src/.deps/
src/Makefile
src/conf/.deps/
src/conf/Makefile
src/core/.deps/
src/core/Makefile
src/core/controls/.deps/
src/core/controls/Makefile
src/core/filters/.deps/
src/core/filters/Makefile
src/core/sources/.deps/
src/core/sources/Makefile
src/core/targets/.deps/
src/core/targets/Makefile
src/util/.deps/
src/util/Makefile

