Makefile
autom4te.cache/
config.log
config.status
doc/Makefile
doc/ummd.conf
include/Makefile
include/autoconf.h
include/stamp-h1
libtool
src/.deps/
src/.libs/
src/*.la
src/*.lo
src/*.o
src/Makefile
src/ummd
src/conf/.deps/
src/conf/.libs/
src/conf/*.la
src/conf/*.lo
src/conf/*.o
src/conf/Makefile
src/core/.deps/
src/core/.libs/
src/core/*.la
src/core/*.lo
src/core/*.o
src/core/Makefile
src/core/controls/.deps/
src/core/controls/.libs/
src/core/controls/*.la
src/core/controls/*.lo
src/core/controls/*.o
src/core/controls/Makefile
src/core/filters/.deps/
src/core/filters/.libs/
src/core/filters/*.la
src/core/filters/*.lo
src/core/filters/*.o
src/core/filters/Makefile
src/core/sources/.deps/
src/core/sources/.libs/
src/core/sources/*.la
src/core/sources/*.lo
src/core/sources/*.o
src/core/sources/Makefile
src/core/targets/.deps/
src/core/targets/.libs/
src/core/targets/*.la
src/core/targets/*.lo
src/core/targets/*.o
src/core/targets/Makefile
src/util/.deps/
src/util/.libs/
src/util/*.la
src/util/*.lo
src/util/*.o
src/util/Makefile

