##
 #  ummd ( Micro MultiMedia Daemon ) configuration file
 ##

#log = "syslog";
#log-level = 3;
#pid-file = "$MY_RUN_DIR/ummd.pid";

controls = (
	{ url = "fifo://$MY_RUN_DIR/ummd.fifo"; },
	{ url = "osc://127.0.0.1:7000/"; },
	{ url = "http://127.0.0.1:8000/"; },
	{ url = "sock://$MY_RUN_DIR/ummd.sock"; }
);

filters = (
	{ type = "delay"; arg="value=0.5"; }
);

sources = (
	{ url = "file:///dev/dsp"; },
	{ url = "udp://127.0.0.1:1001/"; type = "client"; },
	{ url = "udp://224.1.1.1:1001/"; },
	{ url = "udp://127.0.0.1:1002/"; type = "server"; }
);

targets = (
	{ url = "file:///dev/dsp"; },
	{ url = "udp://127.0.0.1:1002/"; type = "client"; },
	{ url = "udp://224.1.1.1:1002/"; },
	{ url = "udp://127.0.0.1:1001/"; type = "server"; }
);

wirings = (

	/* connect source's output #0 to target's input #0 */
	{ source = "source/0"; target = "target/0"; },

	/* connect source's output #0 to filter's input #0 */
	{ source = "source/0"; target = "filter/0"; },
	/* connect filter's output #0 to target's input #0 */
	{ source = "filter/0"; target = "target/0"; }
	
);

