##
 #  ummd ( Micro MultiMedia Daemon ) configuration file
 ##

#log = "syslog";
#log-level = 3;
#pid-file = "$MY_RUN_DIR/ummd.pid";

controls = (
	{ url = "fifo://$MY_RUN_DIR/ummd.fifo"; },
	{ url = "sock://$MY_RUN_DIR/ummd.sock"; }
/*
	{ url = "osc://127.0.0.1:7000/"; },
	{ url = "http://127.0.0.1:8000/"; }
*/
);

filters = (
	{ type = "delay"; value="0.5"; }
);

sources = (
	{ url = "file:///dev/urandom"; }
/*
	{ url = "udp://127.0.0.1:1001/"; type = "client"; },
	{ url = "udp://224.1.1.1:1001/"; },
	{ url = "udp://127.0.0.1:1002/"; type = "server"; }
*/
);

targets = (
	{ url = "oss:///dev/dsp1"; rate="44100"; channels="2"; }
/*
	{ url = "udp://127.0.0.1:1002/"; type = "client"; },
	{ url = "udp://224.1.1.1:1002/"; },
	{ url = "udp://127.0.0.1:1001/"; type = "server"; }
*/
);

wirings = (

	# connect output of source #0 to input of target #0
	{ source = "sources[0]"; target = "targets[0]"; }

/*
	# connect output of source #0 to input of filter #0
	{ source = "sources[0]"; target = "filters[0]"; },
	# connect output of filter #0 to input of target #0
	{ source = "filters[0]"; target = "targets[0]"; }
*/
);
